<li class="nav-header">STATION</li>

<!-- 
<li class="nav-item ">
  <a href="<%=app_dashboard_path%>" data-turbolinks="false" class="nav-link <%= "active" if content_for?(:page_name) and content_for(:page_name) == 'view.dashboard' %>">
    <i class="nav-icon fas fa-tachometer-alt"></i>
    <p>
      Dashboard
    </p>
  </a>
</li>
-->

<li class="nav-item">
  <a href="<%=app_faithfuls_path%>" data-turbolinks="false" class="nav-link <%= "active" if content_for?(:page_name) and content_for(:page_name) == 'view.faithfuls' %>">
    <i class="nav-icon fas fa-database"></i>
    <p>
      Fidèles
    </p>
  </a>
</li>

<% if current_user.managed_child? %>
<li class="nav-item">
  <a href="<%=app_groups_path%>" data-turbolinks="false" class="nav-link <%= "active" if content_for?(:page_name) and content_for(:page_name) == 'view.groups' %>">
    <i class="nav-icon fas fa-users"></i>
    <p>
      Groupes
    </p>
  </a>
</li>



<li class="nav-item">
  <a href="<%=app_posts_path%>" data-turbolinks="false" class="nav-link <%= "active" if content_for?(:page_name) and content_for(:page_name) == 'view.posts' %>">
    <i class="nav-icon fas fa-bullhorn"></i>
    <p>
      Publications
    </p>
  </a>
</li>

<li class="nav-item">
  <a href="<%=app_events_path%>" data-turbolinks="false" class="nav-link <%= "active" if content_for?(:page_name) and content_for(:page_name) == 'view.events' %>">
    <i class="nav-icon fas fa-calendar"></i>
    <p>
      Evenements
    </p>
  </a>
</li>

<li class="nav-item">
  <a href="<%=app_collects_path%>" data-turbolinks="false" class="nav-link <%= "active" if content_for?(:page_name) and content_for(:page_name) == 'view.collects' %>">
    <i class="nav-icon fas fa-usd"></i>
    <p>
      Collèctes
    </p>
  </a>
</li>


<!--
<li class="nav-item">
  <a href="<%=app_connecteds_path%>" data-turbolinks="false" class="nav-link <%= "active" if content_for?(:page_name) and content_for(:page_name) == 'view.connecteds' %>">
    <i class="nav-icon fas fa-usd"></i>
    <p>
      Sondages
    </p>
  </a>
</li> 
-->

<% end %>


