<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Nom du groupe" %>
    <%= form.text_field :name, class:"form-control", required: true %>
  </div>

  <div class="field">
    <%= form.label :acronym, "Acronyme du groupe" %>
    <%= form.text_field :acronym, class:"form-control", required: true%>
  </div>

  <div class="field">
    <%= form.label :descriptor %>
    <%= form.text_area :descriptor, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :manager_id %>
    <%= form.select :manager_id, 
    options_for_select(@group.faithfuls.map{|f| [f.fullname||f.phone, f.id] }, 
    selected: @group.manager.present? ? @group.manager.id : 0 ),
    {include_blank: true}, 
    {class:"form-control"} %>
  </div>

  <div class="text-right">
    <%= form.submit 'Sauvegarder', class: "btn btn-primary btn-sm mt-3" %>
  </div>
<% end %>
