<div class="card">
  <div class="card-header">
    <h3>Liste des Evenements</h3>
  </div>
  <div class="card-body">
    <div class="row text-right">
      <div class="col-12">
        <%= link_to 'Nouveau Evenement', new_app_event_path, data: {turbolinks: false}, class: 'btn btn-primary btn-sm text-white mb-2' %>
      </div>
    </div>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Contenue</th>
          <th>Auteur</th>
          <th>Créé</th>
          <th></th>
        </tr>
      </thead>
      
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.title.truncate(100) %></td>
            <td><%= event.content.truncate(200) %></td>
            <td><%= event.author.present? ? event.author.fullname : 'Aucun'%></td>
            <td><%=str_time(event.created_at) %></td>
            <td>
              <%= link_to content_tag('i', 'Voir', class: "fa fa-eye"), app_event_path(event), class: 'btn btn-success btn-xs text-white mb-2' %>
              <%= link_to content_tag('i', 'Editer', class: "fa fa-pen"), edit_app_event_path(event), class: 'btn btn-primary btn-xs text-white mb-2' %>
              <%= link_to content_tag('i', 'Supprimer', class: "fa fa-trash"), app_event_path(event), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs text-white mb-2' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>


<% content_for :page_name, 'view.posts' %>