<div class="card card-success">
  <div class="card-body">
    <div class="row">
      <div class="offset-lg-1 offset-xl-2 col-md-12 col-lg-10 col-xl-8">
        <div class="card mb-2 bg-gradient">
          <img class="card-img-top" src="<%= @event.thumb ? asset_url('/templates/adminLte/img/event.jpeg') : @event.thumb.thumbnail.url  %>" alt="Dist Photo 1">
          <div class="card-img-overlay d-flex flex-column justify-content-end">
            <h5 class="card-title text-primary text-white"> <%= @event.title %> </h5>
            <a href="#" class="text-white"> </a>
            <small class="card-text text-white pb-2 pt-1 text-right text-sm"><%= "Par #{@event.author.fullname} #{str_time(@event.created_at)}" %></small>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col text-sm">
              <%= content_tag('h6', "Debut: #{@event.marked_to.strftime("%d %b %Y")}", class: "text-sm") %>
            </div>
            <div class="col text-right">
              <%= content_tag('h6', "Fin: #{@event.unmarked_to.strftime("%d %b %Y")}", class: "text-sm") %>
            </div>
          </div>
          <%= markdown(@event.content) %>
        </div>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_app_event_path(@event) %> |
<%= link_to 'Back', app_events_path %>

<% content_for :page_name, 'view.posts' %>