<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @child.name %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @child.acronym %>
</p>

<p>
  <strong>Church:</strong>
  <%= @child.church %>
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
