<div class="card card-success">
  <div class="card-body">
    <div class="row">
      <div class="offset-lg-1 offset-xl-2 col-md-12 col-lg-10 col-xl-8">
        <div class="card mb-2 bg-gradient">
          <img class="card-img-top" src="<%=root_url%>dist/img/photo1.png" alt="Dist Photo 1">
          <div class="card-img-overlay d-flex flex-column justify-content-end">
            <h5 class="card-title text-primary text-white"> <%= @post.title %> </h5>
            <a href="#" class="text-white"> </a>
            <small class="card-text text-white pb-2 pt-1 text-right"><%= "Par #{@post.author.fullname} #{@post.created_at}" %></small>
          </div>
        </div>
        <div class="card-body">
          <%= markdown(@post.content) %>
        </div>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_app_post_path(@post) %> |
<%= link_to 'Back', app_posts_path %>

<% content_for :page_name, 'view.posts' %>