<% content_for :noapp, true %>

<%= form_for user do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.text_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :avatar, "Image en avant" %>
    <%= form.file_field :avatar, class: "form-control", required: false %>
    <%= form.hidden_field :avatar_cache %>
  </div>

  <div class="mt-2 ">
    <%= image_tag user.avatar.thumb.url, alt: 'thumbnail' if user.avatar.present? %>
  </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
