<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_church.name %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @admin_church.acronym %>
</p>

<p>
  <strong>Categorie:</strong>
  <%= @admin_church.category %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @admin_church.phone %>
</p>

<p>
  <strong>Foundation date:</strong>
  <%= @admin_church.foundation_date %>
</p>

<p>
  <strong>Agrement:</strong>
  <%= @admin_church.agrement %>
</p>

<p>
  <strong>Leader name:</strong>
  <%= @admin_church.leader_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @admin_church.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @admin_church.city %>
</p>

<p>
  <strong>Location:</strong>
  <%= @admin_church.location %>
</p>

<p>
  <strong>Location description:</strong>
  <%= @admin_church.location_description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin_church.email %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @admin_church.post_code %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @admin_church.admin %>
</p>

<%= link_to 'Edit', edit_admin_church_path(@admin_church) %> |
<%= link_to 'Back', admin_churches_path %>
