<div class="card">
  <div class="card-header">
    <h3>Liste des Collèctes</h3>
  </div>
  <div class="card-body">
    <div class="row text-right">
      <div class="col-12">
        <%= link_to 'Nouvelle collecte', new_app_collect_path, data: {turbolinks: false}, class: 'btn btn-primary btn-sm text-white mb-2' %>
      </div>
    </div>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Montant rechercher</th>
          <th>Montant trouvé</th>
          <th>Montant restant</th>
          <th>Créé</th>
          <th>Actions</th>
        </tr>
      </thead>
      
      <tbody>
        <% @collects.each do |collect| %>
          <tr>
            <td><%= collect.title.truncate(100) %></td>
            <td> <%= collect.searched_amount %> </td>
            <td> <%= collect.find_amount %> </td>
            <td> <%= collect.remaining_amount %> </td>
            <td><%=str_time(collect.created_at) %></td>
            <td>
              <%= link_to content_tag('i', 'Voir', class: "fa fa-eye"), app_collect_path(collect), class: 'btn btn-success btn-xs text-white mb-2' %>
              <%= link_to content_tag('i', 'Editer', class: "fa fa-pen"), edit_app_collect_path(collect), class: 'btn btn-primary btn-xs text-white mb-2' %>
              <%= link_to content_tag('i', 'Supprimer', class: "fa fa-trash"), app_collect_path(collect), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs text-white mb-2' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>


<% content_for :page_name, 'view.collects' %>