<%= form_for faithful, url: app_faithfuls_path do |f| %>
  <% if faithful.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(faithful.errors.count, "error") %> prohibited this app_child from being saved:</h2>

      <ul>
      <% faithful.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname, class: "form-control", required: true %>
  </div>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname, class: "form-control", required: true %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", required: false %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.phone_field :phone, class: "form-control", required: true %>
  </div>

  <div class="field">
    <%= f.label :profession %>
    <%= f.text_field :profession, class: "form-control", required: true %>
  </div>

  <div class="field">
    <%= f.label :id, "Station" %>
    <%= f.select :id, 
    options_for_select(current_user.managed_church.childs.map{|c| [c.name, c.id]}), 
    include_blank: true, required: true %>
  </div>
  <div class="field">
    <%= f.submit 'Submit' %>
  </div>
<% end %>