<%= form_for faithful do |f| %>
  <% if faithful.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(faithful.errors.count, "error") %> prohibited this app_child from being saved:</h2>

      <ul>
      <% faithful.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname, class: "form-control", required: true %>
  </div>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname, class: "form-control", required: true %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", required: false %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.phone_field :phone, class: "form-control", required: true %>
  </div>

  <div class="field">
    <%= f.label :profession %>
    <%= f.text_field :profession, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :child_id, "Station" %>
    <%= f.select :child_id,
    options_for_select(current_user.managed_church.childs.map{|c| [c.name, c.id]}, selected: @faithful.childs.present? ? @faithful.childs.last.id : 0), 
    {include_blank: true, required: true}, {class: "form-control"} %>
  </div>
  <div class="text-right">
    <%= f.submit 'Sauvegarder', class: "btn btn-primary btn-sm" %>
  </div>

<% end %>