<div class="card">
  <div class="card-header">
    <h3>Liste des églises</h3>
  </div>
  <div class="card-body">
    <div class="row text-right">
      
      <% if notice %>
        <div class="col-12">
          <div class="alert alert-success">
            <p id="notice"><%= notice %></p>
          </div>
        </div>
      <% end %>
      
      
      <div class="col-12">
        <%= link_to 'Nouvelle église', new_app_child_path, data: {turbolinks: false}, class: 'btn btn-primary btn-sm text-white mb-2' %>
      </div>
    </div>
    <table id="childrenList" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Acronyme</th>
          <th>Telephone</th>
          <th>Ville</th>
          <th>Email</th>
          <th>Code postal</th>
          <th>Fidèles</th>
          <th>Président</th>
          <th>Vice président</th>
          <th>Sécretaire</th>
          <th>Gestionnaire</th>
          <th >Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @app_children.each do |app_child| %>
          <tr>
            <td><%= app_child.id %></td>
            <td><%= app_child.acronym %></td>
            <td><%= app_child.phone %></td>
            <td><%= app_child.city %></td>
            <td><%= app_child.email %></td>
            <td><%= app_child.post_code %></td>
            <td><%= app_child.faithfuls.size %></td>
            <td><%= "#{app_child.president.present? ? app_child.president.fullname : "Aucun"}" %></td>
            <td><%= "#{app_child.vice_president.present? ? app_child.vice_president.fullname : "Aucun"} " %></td>
            <td><%= "#{app_child.secretary.present? ? app_child.secretary.fullname : "Aucun"} " %></td>
            <td><%= "#{app_child.manager ? app_child.manager.fullname : 'Aucun'}" %></td>
            <td>
              <%= link_to content_tag('i', 'Voir', class: "fa fa-eye"), app_child_path(app_child), class: 'btn btn-success btn-xs text-white' %>
              <%= link_to content_tag('i', 'Editer', class: "fa fa-pen"), edit_app_child_path(app_child), class: 'btn btn-primary btn-xs text-white' %>
              <%= link_to content_tag('i', 'Supprimer', class: "fa fa-trash"), app_child_path(app_child), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs text-white' %>
              
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>





<% content_for :page_name, 'view.childs' %>

<% content_for :styles do%>
  
<% end %>


<% content_for :script do%>
  <script>
    $('#childrenList').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  </script>
<% end %>
