<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @app_child.name %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @app_child.acronym %>
</p>

<p>
  <strong>Country:</strong>
  <%= @app_child.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @app_child.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @app_child.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @app_child.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @app_child.location %>
</p>

<p>
  <strong>Location descriptor:</strong>
  <%= @app_child.location_descriptor %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @app_child.post_code %>
</p>

<p>
  <strong>President:</strong>
  <%= @app_child.president %>
</p>

<p>
  <strong>Vice president:</strong>
  <%= @app_child.vice_president %>
</p>

<p>
  <strong>Secretary:</strong>
  <%= @app_child.secretary %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @app_child.manager %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @app_child.admin %>
</p>

<%= link_to 'Edit', edit_app_child_path(@app_child) %> |
<%= link_to 'Back', app_children_path %>

<% content_for :page_name, 'view.childs' %>