<div class="row ">
  <div class="col-md-12">
    <!-- Box Comment -->
    <div class="card card-widget ">
      <div class="card-header">
        <div class="user-block">
          <img class="img-circle" 
          src="<%= post.child.present? and post.child.avatar.present? ? 
          post.child.avatar.mini.url : asset_url('/templates/adminLte/img/event.jpeg') %>" alt="User Image">
          <span class="username"><a href="#"> <%= post.child.acronym %> </a></span>
          <span class="description"> <%= "#{str_time(post.created_at)}" %> </span>
        </div>
        <div class="text-right">
          <span class="text-muted"> Collecte </span>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body" id="<%= "post-#{post.id}" %>" data-id="<%= post.id %>" data-url="<%= me_post_url(post) %>">
        <%= image_tag post.thumb.thumbnail.url, class: "img-fluid pad" if post.thumb? %>

        <div class="row">
          <div class="col-12">
            <% post.content = " #{post.content.truncate(500)} [Lire plus](#{me_post_path(post)})" if post.content.length > 500 and truncate %>
            <%= markdown( post.content ) %>
          </div>
          <div class="col-12 row">
            <div class="col-md-6">
              <div class="callout callout-info">
                <h5>Montant recherché</h5>
                <p> <%= "#{post.searched_amount} #{post.child.church.setting.devise}" %> </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="callout callout-info">
                <h5>Montant trouvé</h5>
                <p> <%= "#{post.find_amount} #{post.child.church.setting.devise}" %> </p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="progress">
              <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="<%= level %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= level %>%">
                <span class="sr-only">40% Complete (success)</span>
              </div>
            </div>
          </div>
        </div>
        
        <button type="button" class="btn btn-default btn-sm post-share" data-toggle="modal" 
        data-target="#modal-me-collecte">
          <i class="fas fa-share"></i> Share
        </button>
        <button type="button" class="btn btn-default btn-sm">
          <i class="far fa-handshake"></i> Contribute
        </button>
        <button type="button" class="btn btn-sm post-favorite <%= post.favorites.where(faithful: current_user, liked: true).first.present? ? 'btn-primary' : 'btn-default' %>">
          <i class="far fa-heart"></i> Favorite
        </button>
        
        <span class="float-right text-muted state"> 
          <%= content_tag 'span', "#{post.contributions.size} ", class: "state-contribute" %> Contributions
          <%= content_tag 'span', "#{post.comments.size} ", class: "state-comment" %> comments
        </span>
      </div>
    </div>
    <!-- /.card -->
  </div>
</div>






