<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <title>  <%= content_for?(:title) ? content_for(:title) : Rails.application.config.site[:name] %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= content_for :styles %>
    <% unless content_for?(:noapp)   %>
      <%= render 'layouts/templates/starter/includes' %>
       <!-- <script src="<%=root_url%>dist/js/pages/dashboard.js"></script> -->
    <% end %>
  </head>

  <body class="hold-transition sidebar-mini layout-fixed">
   
    <div class="wrapper">
      <% unless content_for?(:noapp)  %>
        <%= render 'layouts/templates/starter/body' %>
      <% else %>
        <%= yield %>
      <% end %>
    </div>

    
    <%= yield :script %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>

</html>
