<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <title>  <%= content_for?(:title) ? content_for(:title) : Rails.application.config.site[:name] %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

   
    <%= content_for :styles %>

    
    <% unless content_for?(:noapp)   %>
      <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" %>
      <%= stylesheet_link_tag "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" %>
      <%= stylesheet_link_tag asset_url "/templates/adminLte/plugins/fontawesome-free/css/all.min.css" %>
      <%= stylesheet_link_tag asset_url "/templates/adminLte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" %>
      <%= stylesheet_link_tag asset_url "/templates/adminLte/plugins/icheck-bootstrap/icheck-bootstrap.min.css" %>
      <%= stylesheet_link_tag asset_url "/templates/adminLte/plugins/jqvmap/jqvmap.min.css" %>
      <%= stylesheet_link_tag asset_url "/templates/adminLte/dist/css/adminlte.min.css" %>
      <%= stylesheet_link_tag asset_url "/templates/adminLte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" %>
      <%= stylesheet_link_tag asset_url "/templates/adminLte/plugins/daterangepicker/daterangepicker.css" %>
      <%= stylesheet_link_tag asset_url "/templates/adminLte/plugins/summernote/summernote-bs4.min.css" %>
      <%= stylesheet_link_tag asset_url "/templates/adminLte/plugins/toastr/toastr.min.css" %>

      <!-- Font Awesome -->
      <%= stylesheet_link_tag asset_url "/templates/adminLte/plugins/fontawesome-free/css/all.min.css" %>
      <!-- DataTables -->
      <%= stylesheet_link_tag asset_url "/templates/adminLte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %>
      <%= stylesheet_link_tag asset_url "/templates/adminLte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %>
      <%= stylesheet_link_tag asset_url "/templates/adminLte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" %>


      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/jquery/jquery.min.js" %>
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/jquery-ui/jquery-ui.min.js" %>
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/bootstrap/js/bootstrap.bundle.min.js" %>
      <!-- ChartJS -->
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/chart.js/Chart.min.js" %>
      <!-- Sparkline -->
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/sparklines/sparkline.js" %>
      <!-- JQVMap -->
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/jqvmap/jquery.vmap.min.js" %>
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/jqvmap/maps/jquery.vmap.usa.js" %>
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/jquery-knob/jquery.knob.min.js" %>
      <!-- jQuery Knob Chart -->
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/moment/moment.min.js" %>
      <!-- daterangepicker -->
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/daterangepicker/daterangepicker.js" %>
      <!-- Tempusdominus Bootstrap 4 -->
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js" %>
      <!-- Summernote -->
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/summernote/summernote-bs4.min.js" %>
      <!-- overlayScrollbars -->
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js" %>
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/toastr/toastr.min.js" %>
      <!-- AdminLTE App -->
      <%= javascript_include_tag asset_url "/templates/adminLte/dist/js/adminlte.js" %>

      <!-- DataTable insertion -->
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/datatables/jquery.dataTables.min.js" %>
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %>
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/datatables-responsive/js/dataTables.responsive.min.js" %>
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %>
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/datatables-buttons/js/dataTables.buttons.min.js" %>
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js" %>
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/jszip/jszip.min.js" %>
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/pdfmake/pdfmake.min.js" %>
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/pdfmake/vfs_fonts.js" %>
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/datatables-buttons/js/buttons.html5.min.js" %>
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/datatables-buttons/js/buttons.print.min.js" %>
      <%= javascript_include_tag asset_url "/templates/adminLte/plugins/datatables-buttons/js/buttons.colVis.min.js" %>

      <script>
        $.widget.bridge('uibutton', $.ui.button)
      </script>
      <!-- AdminLTE for demo purposes -->
      <!-- <script src="<%=root_url%>dist/js/demo.js"></script> -->
      <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
      <!-- <script src="<%=root_url%>dist/js/pages/dashboard.js"></script> -->
    <% end %>
    
    

  </head>

  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      
      <% unless content_for?(:noapp)  %>
        <%= render 'layouts/templates/starter/navbar' %>
        <%= render 'layouts/templates/starter/sidebar' %>
        <%= render 'layouts/templates/starter/body' %>
      <% else %>
        <%= yield %>
      <% end %>
      
      

    </div>

    <%= yield :script %>
  </body>

</html>
